.DateBox {
  margin: 0.5vh;
  width: 12.5vw;
  height: 12.5vw;
  cursor: pointer;

  &:hover {
    background-color: #cde9ff;
  }
}

.picked {
  background-color: #cde9ff;

  &:hover {
    background-color: #4f93c7;
  }
}