.DayRow {
  display: flex;
  justify-content: space-around;

  text-align: center;
  margin: 1vh 1vh 0 1vh;
  height: 4vh;
  border-bottom: 0.1rem solid #e2e2e2;

  .day-item {
    margin: 0.5vh;
    text-align: center;
  }
}