.Calendar {
  text-align: center;
}

.Calendar-header {
  background-color: #FAFAFA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1F1F1F;
}

.Calendar-link {
  color: #61dafb;
}